/* Utilities  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
a {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

body {
  background-color: aliceblue;
  
}

span {
  color: rgb(44, 47, 204);
}

/* animations  */

@keyframes fade-out {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* button  */
/* button for hero  */

.btn {
  background-color: #fbeee0;
  border: 2px solid #283673;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #283673;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #283673;
  color: #fbeee0;
}

.btn:active {
  box-shadow: #080500 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* BUTTON FOR PACKAGES  */
.pbtn {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-decoration: none;
}


/* Navbar  */
#navbar {
  background: #283673;
  color: #fff;
  overflow: auto;
  width: 100%;
  z-index: 2;
  position: fixed;
}

#navbar a {
  color: aliceblue;
  margin-right: 20px;
}

#navbar .logo {
  float: left;
  padding-top: 10px;
  margin-left: 30px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #566794;
  color: #63eae7;
}

img.logo {
  width: 100px;
}

/* Hero Section  */

#hero {
  background: url("../images/hero.jpg") no-repeat center center/cover;
  height: 100vh;
}

#hero .hero-content {
  color: #0d5cf0;
  text-align: center;
  padding: 170px;
}

#hero .hero-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#hero .hero-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* packages  */
.packages {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  padding: 30px;
  margin: 30px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: #283673;
  border-radius: 30px;
  gap: 40px;
}

.packages a {
  width: 23%;
}

.packages img {
  /* height: 30%; */
  width: 100%;
  border-radius: 20px;
}

/* .pbtn a{
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
} */

.packages .hover,
.packages button {
  display: none;
}

.packages .cta {
  position: absolute;
}

.packages button {
  position: relative;
  left: -42px;
  bottom: 300px;
}

.promo:hover button,
.promo:hover .hover {
  display: block;
}

.promo:hover .promo1 {
  display: none;
}

/* cards */
.card {
  padding: 25px;
  margin: 180px;
  background-color: #283673;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card-form {
  background: aliceblue;
  padding: 3% 10%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-size: 3vmin;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex: 1 1;
}

/* Modal  */

.dialog {
  margin: auto;
  padding: 50px 50px;
  background-color: aliceblue;
  border-style: groove;
  border-width: 7px;
  border-color: wheat;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}

.dialog::-webkit-scrollbar {
  display: none;
}

/* Form  */

form input {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  width: 25rem;
  height: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: bolder;
}

::placeholder {
  font-size: large;
  font-family: "Yellowtail", cursive;
}

select option {
  width: 2rem;
  height: 2rem;
}

.form {
  color: #283673;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/* drop down list  */

.list-choice {
  width: 400px;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
}

.list-choice input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.list-choice-title {
  width: 100%;
  display: block;
  background: #283673;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 1px 0 #cacaca;
  border-radius: 0.2em;
}

.list-choice input[type="radio"] + span {
  color: #283673;
  background: #d8d8d8;
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 2.1em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}

.list-choice:hover .list-choice-objects input[type="radio"] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"] + span:hover {
  background: #74d68e;
}

.list-choice:hover input[type="radio"]:checked + span:hover {
  background: #74d68e;
}

.list-choice input[type="radio"]:checked + span {
  background: #74a7d6;
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
}

.list-choice:hover input[type="radio"]:checked + span {
  border-radius: 0;
}

.list-choice:hover
  .list-choice-objects
  label:nth-last-of-type(1)
  input[type="radio"]:checked
  + span {
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
  max-height: 540px;
}

/* drop down list for payment  */

.list-choice-payment {
  width: 300px;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Yellowtail", cursive;
}

.list-choice-payment input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* payment list  */
.list-choice-payment-title {
  width: 100%;
  display: block;
  background: #283673;
  text-align: center;
  padding: 1em 1em;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 1px 0 #cacaca;
  border-radius: 0.2em;
}

.list-choice-payment input[type="radio"] + span {
  color: #283673;
  background: #d8d8d8;
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

.list-choice-payment-objects {
  position: absolute;
  top: 0;
  padding-top: 3em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}

.list-choice-payment:hover
  .list-choice-payment-objects
  input[type="radio"]
  + span {
  position: relative;
  top: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.list-choice-payment:hover input[type="radio"] + span:hover {
  background: #74d68e;
}

.list-choice-payment:hover input[type="radio"]:checked + span:hover {
  background: #74d68e;
}

.list-choice-payment input[type="radio"]:checked + span {
  background: #74a7d6;
  position: absolute;
  top: 0;
  border-radius: 0.2em;
}

.list-choice-payment:hover input[type="radio"]:checked + span {
  border-radius: 0;
}

.list-choice-payment:hover
  .list-choice-payment-objects
  label:nth-last-of-type(1)
  input[type="radio"]:checked
  + span {
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice-payment:hover .list-choice-payment-objects {
  max-height: 540px;
}

.list-choice-payment:hover .list-choice-payment-objects .choose {
  display: none;
}

/* container for famous sites  */
.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  flex-direction: column;
}

.container-famous-sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 7px; 
  padding: 30px;
  margin: 0 auto;
}
  .famous-sites{
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .famous-sites h1{
    font-size: 60px;
  }
  
  .famous-sites-content {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .famous-sites-item {
    position: relative;
    width: 400px; 
    height: 100%; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .famous-sites-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .famous-sites-item:hover img {
    transform: scale(1.1); 
  }
  
  .famous-sites-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease;
  }

  .famous-sites-description a{
    color: white;
  }
  
  .famous-sites-item:hover .famous-sites-description {
    opacity: 1;
  }

  #famous-sites-book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1;
  }

/* Footer  */

#main-footer {
  background: #283673;
  color: #fff;
}

#main-footer img {
  width: 200px;
}

#main-footer h2 {
  font-size: 25px;
  font-weight: bold;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container input[type="email"],
#main-footer .footer-container input[type="submit"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container > *:last-child {
  background:hsl(229, 93%, 16%);
  grid-column: 1 /span 4;
  padding: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  font-size: 15px;
}

#main-footer .footer-container > *:last-child span{
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.footer-contacts .icons{
  font-size: 22px;
  list-style-type: none;
  margin-top: 20px;
}


.icons i{
  font-size: 30px;  
  margin-right: 10px;
}

.icons li{
  margin: 8px auto;
}

.socmed{
  padding-left: 35px;
  padding-top: 10px;
}

.socmed i{
  padding-left: 5px;
  font-size: 40px;
}
.socmed i:hover{
  color: #091f47;
}

.footer-logo{
  margin-left: 40px;
  margin-top: 50px;
}

.footer-contacts-col {
  flex: 2;
  display: flex;
  gap: 40px;
}


.footer-payment-feature{
  text-align: center;
}

.footer-payment-feature-logo{
  display: flex;
  flex: 2;
}

.footer-payment-feature-logo img{
  height: 40px;
}

.footer-payment-feature ul{
  list-style-type: none;
}
.footer-payment-feature li{
  padding: 3px;
}

.footer-web-links-list{
  font-size: 20px;
  padding: 10px 0px; 
  overflow: hidden;
  
}


.footer-web-links-list li{
  list-style-type: none;
  margin: 10px 0px;
  font-size: 22px;
  overflow-y: hidden;
}

#list li:hover{
  background-color:hsla(229, 45%, 45%, 0.645);
  zoom: 1.1;
}
 
#list ul li a:hover{
  color: #091f47;
}

.footer-web-links-list span{
  color: #fff;
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}




