/* Utilities  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
a {
  font-family: "Yellowtail", cursive;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

h1 {
    font-size: 35px;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: none;
}

body {
  background-color: hsla(251, 100%, 90%, 0.726);
}

span {
  color: rgb(44, 47, 204);
}

/* animations  */

@keyframes fade-out {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}


/* Navbar  */
#navbar {
  background: #283673;
  color: #fff;
  overflow: auto;
  width: 100%;
  z-index: 2;
}

#navbar a {
  color: aliceblue;
  margin-right: 20px;
}

#navbar .logo {
  float: left;
  padding-top: 10px;
  margin-left: 30px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #566794;
  color: #63eae7;
}

img.logo {
  width: 100px;
}

/* Hero Section  */

#hero {
  background: url("../images/hero.jpg") no-repeat center center/cover;
  height: 100vh;
}

#hero .hero-content {
  color: #0d5cf0;
  text-align: center;
  padding: 170px;
}

#hero .hero-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#hero .hero-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* About  */

.heading {
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin:  auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: hsl(212, 100%, 89%);
  font-size: 27px;
  border-radius: 200px;
  padding: 35px;
}

.heading-content {
    padding: 0rem 13.7rem;
    text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  animation: fade-out linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.1);
}

.about-content{
    flex: 1;
    margin-bottom: 20px;
}

.about-content{
    font-size: 23px;
    margin-top: 15px;
    column-rule: #333;
    text-align: justify;
} 

.about-content .read-more{
    display: flex;
    padding: 10px 20px;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: #fbeee0;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    border: 2px solid #283673;
    color: #283673;
    font-weight: 600;    
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-content .read-more:hover{
    background-color: #283673;
    color: white;
}

.about-item{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fbeee0;
    padding: 30px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
    text-align: justify;
    flex: 1;
}

.about-item i{
    font-size: 43px;
    margin: 0;
}

.about-item hr{
    width: 15%;
    height: 3px;
    background-color: #283673;
    margin: 0 auto;
    border: none;
}

.about-item:hover {
 scale: 1.1;
}

.content-box{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    text-align: justify;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.about-mv{
    text-align: center;
    margin-bottom: 10px;
}


/* Members  */
.members {
  display: block;
  padding: 20px;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
}

.members img{
  padding: 20px;
  margin: 15px auto;
  width: 1080px;
  
  
}

.members-btn:hover .members-face{
  display: block;
}

.members-face {
  display: none;
  font-size: 40px;
  text-align: center;
  padding: 25px 25px;
  position: absolute;
    top: 70rem;

}

.members-face img{
    border-radius: 200rem;
    width: 200px;
    
}

.members-btn {
  position: absolute;
  
}